@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');

$color1: #0466BF;
$color2: #022C66;
$color3: #CAFF00;
$color4: #6E8706;
$color5: #000000;
$color6: #ffffff;
$font_color: #4d4d4d;
$grd1: repeat(1, 1fr);
$grd2: repeat(2, 1fr);
$grd3: repeat(3, 1fr);
$grd4: repeat(4, 1fr);
$grd_det: 400px 1fr;
$gap: 2vw;
img {
    max-width: 100%;
    display: block;
}

body{
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    img{
        display: block;
    }
    a{
        text-decoration: none;
        outline: none;
    }
}
