
@import "_var";

header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 1px solid #ececec;
    .spc_top_logo{
        width: 200px;
    }
}

.bar_btn_call_to_action{
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 7;
    width: 100%;
    padding: .5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    box-shadow: 0px -10px 15px rgba(0,0,0,.2);
    background-color: white;
    .spc_price{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: .5em 0;
        .old{
            font-size: 1.1em;
            text-decoration: line-through;
            opacity: .5;
            margin-left: 1em;
        }
        .now{
            font-size: 1.5em;
            margin-bottom: .5em;
        }
        .offf{
            background-color: $color3;
            color: $color4;
            padding: .5em 1em;
            border-radius: 4px;
            text-transform: uppercase;
            margin-bottom: .5em;
        }
        .ln_off{
            display: flex;
            align-items: center;
        }
    }
    button{
        padding: 1em 3em;
        display: flex;
        justify-content: center;
        max-width: 400px;
        align-items: center;
        background-color: $color1;
        border: 1px solid $color1;
        border-radius: 4px;
        color: $color6;
        transition: .4s;
        svg{
            margin-right: .5em;
        }
    }
    button:hover{
        background-color: $color2;
    }
}

.spr_prodctt{
    padding: 50px 0;
    .slider{
        width: 100%;
    }
}
.dfff{
    background-image: url(../images/animacion/animacion_0000.png);
    background-size: 100%;
}

.spc_info{
    display: flex;
    flex-direction: column;
    color: $font_color;
    h1{
        font-size: 3em;
        font-weight: 700;
        margin: 0;
        text-align: center;
    }
    h2{
        margin: 0;
        text-align: center;
        margin-bottom: 1.5em;
        font-weight: 300;
        
    }
}
.spc_descript{
    padding: 0 1em;
    h3{
        font-size: 1.7em;
        margin: 0;
        font-weight: 300;
        border-bottom: 1px solid #ececec;
        padding: .5em 0;
        margin-bottom: 1em;
    }
    .line{
        color: $font_color;
        h4{
            margin: 0;
            font-size: 1.3em;
        }
        ul{
            li{
                list-style-type: square;
                font-weight: 400;
                letter-spacing: 1px;
                line-height: 20px;
            }
        }
    }
}

.spc_animacion{
    height: 60vh;
    .box_animacion{
        position: relative;
        height: 440px;
        background-image: url(../images/animacion/animacion_0000.png);
        background-size: 100%;
        .elm{
            position: absolute;
        }
        .order1{
            z-index: 4;
            animation: mymove1 7s infinite;
        }
        .order2{
            z-index: 3;   
            animation: mymove2 7s infinite; 
        }
        .order3{
            z-index: 2;  
            animation: mymove1 7s infinite; 
        }
        .order4{
            z-index: 1;
            
        }
        @keyframes mymove1 {
            0%   {top: 0%}
            20%  {top: -2%}
            40%  {top: 2%}
            60%  {top: -2%}
            100% {top: 0%;}
        }
        @keyframes mymove2 {
            0%   {top: 0%}
            20%  {top: 2%}
            40%  {top: -2%}
            60%  {top: 2%}
            100% {top: 0%;}
        }
       
    }
}
.spc_otras_funciones{
    img{
        width: 100%;
    }
}

.commentss{
    .top_bar_comenttt{
        background-color: #ececec;
        color: rgb(117, 117, 117);
        padding: 2em 1em;
        display: flex;
        justify-content: center;
        align-items: center;
        .commtns, .likess{
            display: flex;
            width: 50%;
            svg{
                margin-right: .5em;
            }
            .vvv{
                display: flex;
                span{
                    margin-right: .5em;
                    font-weight: 700;
                }
                .tx{

                }
            }
        }
    }
    .spc_comentarios{
        padding: 1em 2em;
        .line_comentario{
            display: flex;
            flex-direction: column;
            border-bottom: 1px solid #ececec;
            margin-bottom: 1em;
            .info_usuario{
                display: flex;
                align-items: center;
                .img_perfil{
                    width: 60px;
                    border-radius: 50%;
                    overflow: hidden;
                    border: 1px solid #ccc;
                    margin-right: 1em;
                    img{

                    }
                }
                .box_nmmm{
                    .nombre{
                        font-size: 1.5em;
                        color: $font_color;
                    }
                    .timmm{
                        color: #ccc;
                    }
                }
            }
            .comentario{
                display: flex;
                align-items: center;
                svg{
                    font-size: 1.7em;
                    margin-right: .5em;
                    color: $color1;
                }
                p{
                    text-align: justify;
                }
            }
        }
    }
}




footer{
    height: 100px;
}

