<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Smart Time
        link(rel="stylesheet", href="css/owl.carousel.min.css")
        link(rel="stylesheet", href="css/owl.theme.default.min.css")
        link(rel="stylesheet", href="css/style.css")
    body
        header
            .spc_top_logo
                img(src="images/logo/logo_001-1.png", alt="")

        .bar_btn_call_to_action
            .spc_price
                .ln_off
                    .offf Oferta!
                    .old 120$
                .now Precio de lanzamiento
            button(type="submit") 
                i.fas.fa-shopping-cart
                | Comprar 59,99$

        section.spr_prodctt
            .owl-carousel.dfff
                .slider
                    img(src="images/producto/001.png", alt="")
                .slider
                    img(src="images/producto/002.png", alt="")
                .slider
                    img(src="images/producto/003.png", alt="")
                .slider
                    img(src="images/producto/004.png", alt="")
            .spc_info
                h1 K9
                h2 by Kingdata
            
            

            .spc_descript
                h3 DESCRIPCIÓN 
                .line
                    h4 Funciones:
                    ul
                        li Rastreador de Tarifa Corazón 
                        li Función estándar (paso, distancia, calorías) 
                        li Rastreador de Sueño 
                        li Entrante recordar, Mensaje empuje 
                        li Lucha contra lost recordatorio (los teléfonos más allá del alcance recordarán) 
                        li Alarma recordar 
                        li Recordar la tarea 
                        li Rastreador de actividad 
                .line
                    h4 Presupuesto:
                    ul
                        li Tamaño Pantalla : 1,0 pulgada
                        li OS compatible: Android 4.4 y superior, IOS 8.0 y superior 
                        li Versión de Bluetooth : Bluetooth V4.0
                            
            .spc_animacion
                .box_animacion
                    .elm.order1
                        img(src="images/animacion/animacion_0004.png", alt="")
                    .elm.order2
                        img(src="images/animacion/animacion_0003.png", alt="")
                    .elm.order3
                        img(src="images/animacion/animacion_0002.png", alt="")
                    .elm.order4
                        img(src="images/animacion/animacion_0001.png", alt="")
            
            .spc_otras_funciones
                img(src="images/002.jpg", alt="")
            
            
            .commentss
                .top_bar_comenttt
                    .commtns
                        i.fas.fa-user
                        .vvv
                            span 345
                            .tx Valoraciones
                    .likess
                        i.fas.fa-heart
                        .vvv
                            span 98%
                            .tx de valoraciones positivas
                
                .spc_comentarios
                    .line_comentario
                        .info_usuario
                            .img_perfil
                                img(src="images/usuario.jpg", alt="")
                            .box_nmmm
                                .nombre Nombre de Usuario
                                .timmm Hace 13 horas
                        .comentario
                            i.fas.fa-heart
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, minima doloremque expedita sequi rerum modi nihil? Iusto quod pariatur maiores, illum molestias nostrum quos, minima amet aut nihil voluptate quo?
                    .line_comentario
                        .info_usuario
                            .img_perfil
                                img(src="images/usuario.jpg", alt="")
                            .box_nmmm
                                .nombre Nombre de Usuario
                                .timmm Hace 13 horas
                        .comentario
                            i.fas.fa-heart
                            p Muy Practico y util.
                    .line_comentario
                        .info_usuario
                            .img_perfil
                                img(src="images/usuario.jpg", alt="")
                            .box_nmmm
                                .nombre Nombre de Usuario
                                .timmm Hace 13 horas
                        .comentario
                            i.fas.fa-heart
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat eum minus voluptates. Incidunt quibusdam, nobis labore iusto ratione molestias recusandae?
                    .line_comentario
                        .info_usuario
                            .img_perfil
                                img(src="images/usuario.jpg", alt="")
                            .box_nmmm
                                .nombre Nombre de Usuario
                                .timmm Hace 13 horas
                        .comentario
                            i.fas.fa-heart
                            p Muy Practico y util.



        

        footer
        script(src="js/jquery.js")
        script(src="js/all.js")
        script(src="js/owl.carousel.min.js")
        script(src="js/j_smart_time.js")